In [1]:

input_string = input("Enter a string value: ")
char_counts = {}

for char in input_string:
    if char in char_counts:
        char_counts[char] += 1
    else:
        char_counts[char] = 1
for char, count in char_counts.items():
    print(f"{char}={count}", end=", ")

Enter a string value: kasim
k=1, a=1, s=1, i=1, m=1,

In [16]:
def maxim(n1, n2, n3):
  return max(n1, n2, n3)


result = maxim(34, 12, 7)
print("max value:",result)

max value: 34

In [17]:
def exponent(base, exp):
  return base ** exp
base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
result = exponent(base, exp)
print(result)

Enter the base: 2
Enter the exponent: 3
8

In [26]:
def num(n1):
  sum = 0
  if n1 > 1:
    for i in range(1, n1):
      n = i * i * i
      sum += n
  return sum

n1 = int(input("Enter the number: "))
result = num(n1)
print(result)

Enter the number: 4
36

In [31]:
for i in range(1, 11):
  if i % 2 == 0 and i % 5 == 0:
    print("fizzbuzz")
  elif i % 2 == 0:
    print("fizz")
  elif i % 5 == 0:
    print("buzz")
  else:
     print(i)

1
fizz
3
fizz
buzz
fizz
7
fizz
9
fizzbuzz

In [32]:
def most_frequent(numbers):
  return max(set(numbers), key=numbers.count)
numbers = [2, 3, 4, 2, 5, 2]
most_frequent_item = most_frequent(numbers)
print(most_frequent_item)

2

In [33]:
def sum_of_squares(numbers):
  sum = 0
  for number in numbers:
    sum += number ** 2
  return sum
numbers = [2, 1, 3, 1]
result = sum_of_squares(numbers)
print(result)

15

In [34]:
for num in range(1, 16):
  if num % 2 == 0:
    print(f"{num}-even")
  else:
    print(f"{num}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

In [1]:
def celsius_to_fahrenheit(celsius):
  fahrenheit = (celsius * 9/5) + 32
  return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
  celsius = (fahrenheit - 32) * 5/9
  return celsius

fahrenheit = float(input("Temperature in Fahrenheit = "))
celsius = fahrenheit_to_celsius(fahrenheit)
print("Temperature in Celsius =", int(celsius))

Temperature in Fahrenheit = 41
Temperature in Celsius = 5

In [2]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

number = 3
result = factorial(number)
print(result)

6