In [ ]:
n1=int(input('enter the radius of circle'))
n2=3.14*n1*n1
print('area of circle=',n2)

enter the radius of circle3
area of circle= 28.259999999999998

In [1]:
n1=(input('enter the name'))
n2=int(input('enter the age'))
n3=int(input('enter the mark'))
print('name=',n1)
print('age=',n2)
print('number=',n3)

enter the namekasim khan
enter the age22
enter the mark77
name= kasim khan
age= 22
number= 77

In [ ]:
numbers = [12, 3, 47, 10]
largest = numbers[0]

for number in numbers:
  if number > largest:
    largest = number

print(f"{largest} is the largest number")

47 is the largest number

In [ ]:
sum=0
for i in range(1,11):
  sum=i+(i-1)
  print(f"current number:{i} previous number:{i-1} sum:{sum}")

current number:1 previous number:0 sum:1
current number:2 previous number:1 sum:3
current number:3 previous number:2 sum:5
current number:4 previous number:3 sum:7
current number:5 previous number:4 sum:9
current number:6 previous number:5 sum:11
current number:7 previous number:6 sum:13
current number:8 previous number:7 sum:15
current number:9 previous number:8 sum:17
current number:10 previous number:9 sum:19

In [ ]:
 num=[10, 20,33,46,55]
 for i in num:
   if i%5==0:
     print(i,end=",")

10,20,55,

In [ ]:
n1=int(input('enter the number'))
if n1>1:
  for i in range(2,n1):
    if n1%i==0:
      print('not prime')
      break
  else:
    print('prime')

enter the number3
prime

In [ ]:
n1=[10,40,30,70]
rever=[]
for i in range(len(n1)-1,-1,-1):
  rever.append(n1[i])
print(rever)

[70, 30, 40, 10]

In [ ]:
for i in range(1,5):
  print("*"*i)

*
**
***
****

In [ ]:
n1=[34,12,7]
print(max(n1))

34

In [ ]:
n=6
for i in range(1,n):
  for j in range(i):
    print("*",end=" ")
  print()
for i in range(n-2,0,-1):
  for j in range(i):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*